C8 License - Extend License Endpoint for isCommercial and expiresAt

## Description

As part of the [Licence expiration for non-commercial use](https://github.com/camunda/product-hub/issues/2529) project, two new fields need to be added to the `/license` endpoint. These two fields will determine whether or not a license is for commercial or non-commerical use, and for determining the expiration date of a license

The two fields: `isCommercial` and `expiresAt` 

- `isCommercial`
  - This will be a boolean field
  - Will be `false` when a license contains a `non-commerical=true` property 
  - Will be `false` otherwise
- `expiresAt`
  - This will be a `string` field
  - The value will be a unix timestamp representing when a license will become expired
  - Will be `null` in the case where the `expiryDate` field is not present on a license

An example payload for the endpoint would look something like this

```
GET /license
{
   "validLicense": true,
   "environment": "self-managed",
   "isCommercial": true,
   "expiresAt": "1730055658847"
}
```  

Could `expiresAt` also be a proper OpenAPI date string, using `type: string` and `format: date-time`?
Citing the [OpenAPI docs](https://swagger.io/docs/specification/v3_0/data-models/data-types/#strings):
> `date-time` – the date-time notation as defined by [RFC 3339, section 5.6](https://tools.ietf.org/html/rfc3339#section-5.6), for example, _2017-07-21T17:32:28Z_

That makes this endpoint consistent with the others that serve date and time information.

Hey @ColRad, @ultraschuppi, 
I saw that [here](https://github.com/camunda-cloud/camunda-composite-components/pull/494) that we accept the dates in millisecond format. Would it be possible to accept the date format in the api proposal above?

This would avoid us having to convert dates in each component.